@tailwind base;
@tailwind components;
@tailwind utilities;


.grid_container{
  display: grid;
  max-width: 1080px;
  margin: auto;
}

.white_space{
  height: 40vh;
  width: 100%;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

.scroll-text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}